<div>
  <h1>Life Insurance Risk Classification - Amazon Machine Learning</h1>
  <br>
  <p>
    Based on <a href="https://www.kaggle.com/c/prudential-life-insurance-assessment"> Prudential competition </a> at Kaggle.
  </p>
  <hr>
  <div class="prudential" >
    <p>
      Picture this. You are a data scientist in a start-up culture with the potential to have a very large impact on the business.
      Oh, and you are backed up by a company with 140 years' business experience.
    </p>
    <p>
      Curious? Great! You are the kind of person we are looking for.
    </p>
    <p>
      Prudential, one of the largest issuers of life insurance in the USA, is hiring passionate data scientists to join a newly-formed
      Data Science group solving complex challenges and identifying opportunities. The results have been impressive so far
      but we want more.
    </p>
    <p>
      The Challenge
    </p>
    <p>
      In a one-click shopping world with on-demand everything, the life insurance application process is antiquated. Customers
      provide extensive information to identify risk classification and eligibility, including scheduling medical exams,
      a process that takes an average of 30 days.
    </p>
    <p>
      The result? People are turned off. That’s why only 40% of U.S. households own individual life insurance. Prudential wants
      to make it quicker and less labor intensive for new and existing customers to get a quote while maintaining privacy
      boundaries.
    </p>
    <p>
      By developing a predictive model that accurately classifies risk using a more automated approach, you can greatly impact
      public perception of the industry.
    </p>
    <p>
      The results will help Prudential better understand the predictive power of the data points in the existing assessment, enabling
      us to significantly streamline the process.
    </p>
  </div>
  <hr>
  <br>
  <p>
    Prabhat Sharma<br> Solutions Architect baed @ San Francisco<br> Amazon Web Services<br> email: prabhsha@amazon.com<br>    cell: +1.972.445.7205
  </p>
  <p>
    (Hearty thanks to Yazid Boutezder for his support for this project)
  </p>
  <br>
  <img src="assets/AWS_Logo_PoweredBy_300px.png">
</div>